@charset "utf-8";

$bg: #000010;
$text: white;
$border: #252533;

$background: $text;
$body-background-color: $bg;
$primary: #FF756D;

// Cards
$card-background-color: $bg;
$card-color: $text;
$card-header-color: $text;

// Tables
$table-background-color: $bg;
$table-color: $text;
$table-cell-heading-color: $text;
$table-cell-border: 1px solid $border;

@import "../node_modules/bulma/bulma.sass";

html, body, #app {
    height: 100%;
}
